.pop-up__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}

.pop-up__input:last-of-type {
  margin-top: 30px;
}
